
		{% extends base %}
 
{% block content %}
		
		<!-- Main Wrapper -->
			<div class="text-center">
				<div class="title">Joutes 2013</div>
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Main -->
								<div id="main">
									<div>
										<div class="row">
											<div class="12u skel-cell-important">
											
												<!-- Content -->
													<div id="content">
														<article class="is is-post">
															<header class="style1">
															
															
															</header>
															<label>Durant la 1ère année de BTS SIO , nous avons eu la chance de pouvoir participer à un projet informatique appelé " Les joutes "</label>
															<label>Nous étions répartis en équipes de quatre étudiants de BTS Services Informatiques aux Organisations de plusieurs établissements de France : Aurillac, Charleville-Mézières, Chaumont et Perpignan. Il y avait également dans chaque groupe un étudiant de BTS Design Graphique du lycée Saint-Geraud.</label>
															<label>Cette compétition consiste à créer en trois jours un site web sur un thème particulier qui, cette année est la création d'un espace ENT.</label>
															<label>Le but de ces joutes sont de mettre en pratique à la fois nos compétences  techniques, d’organisation et de communication.</label>
															<label>Voici ci-dessous, un document PDF, montrant la page d'accueil de notre site</label> 
															<label><a href="{{chemin}}/media/img/joutes.pdf">Cliquez ici</a></label>
															<label align="center"><img src="{{chemin}}/media/img/pageaccueil.jpg" alt="" width="90%" /></label>
															<label>Ces joutes nous ont permis de rassembler nos connaissances et d'apporter nos touches personnelles au projet.</label>
															<label>Nous avons pu également utiliser plusieurs langages pour créer le site. En effet, notre site est codé en HTML avec CSS , toutes les pages sont en PHP, et il y a aussi l'apparition de Flash au démarrage de la page.</label>
																<label><a href="{{chemin}}/media/doc/index.html">exemple</a></label>
															
															
														</label>


														</article>
														<div>
															
													</div>
												<!-- /Content -->
											
											</div>
										</div>
									</div>
								</div>
							<!-- /Main -->
							
						</div>
					</div>
				</div>
			</div>
				<!-- /Main Wrapper -->
{% endblock %}