
		{% extends base %}
 
{% block content %}
		

		<!-- Main Wrapper -->
			<div class="wrapper wrapper-style2">
				<div class="title">Conseil Général du Cantal</div>
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Main -->
								<div id="main">
									<div>
										<div class="row">
											<div class="12u skel-cell-important">
											
												<!-- Content -->
													<div id="content">
														<article class="is is-post">
															<header class="style1">
															
															
															</header>
															<p align=center>
															
																<img src="{chemin}}/media/img/cg15.jpg" alt=""  />
														
														</p>
	<p/>Le stage de 2ème année s'est effectué une nouvelle fois au sein du Conseil Général du Cantal : http://www.cantal.fr/

<p/>Ce stage s'est déroulé du 27 janvier au 7 mars 2014.

 

<p align=center><b>Voici le cahier des charges du 1er projet </b>

<p/>Périmètre du projet : 

<p/>Le projet informatique concerné par le stage est VESTA, c'est un outil informatique commun gérant les métiers de l'ASE (Aide Social à l'Enfance) et du SIPEIJ (Service des informations Préoccupantes). Ce projet est déjà en production et intègre les fonctionnalités suivantes :

<p/>- Gestion du dossier famille

<p/>- Procédure Information Préoccupante,

<p/>- Procédure Assistance à Domicile,

<p/>- Procédure Aide Financière,

<p/>- Procédure Travailleuse Familiale,

<p/>- Procédure Placement,

<p/>- Module de paiement des aides, accessoires et de la paye des assistantes familiales.

<p align="center"><b>Les attentes du projets :</b><p/>

<p/>Il est demandé dans le cadre du stage la réalisation d'éditions correspondant à des courriers envoyés aux familles, Procureurs, Juge des Enfants, organismes divers, etc.

<p/>Chaque courrier devra également comporter divers exemplaires.

<p/>L’automatisation de ces courriers a plusieurs objectifs :

<p/>- Gain de temps pour l'édition des courriers

<p/>- Harmonisation (mise en forme, signature automatique, orthographe, ...)

<p align="center"><b>Environnement technique :</b><p/>

<p/>Les outils et technologies utilisés pour le développement, avec le soutien du SEDI, sont :

<p/>- AGL : Visual Studio 2013

<p/>- Générateur d'éditions Crystal Reports ou Microsoft Reports

<p/>- Base de données : Microsoft SQL Server 2008

<p/>- Langages : VB.NET ou C# , java Script , SQL

<p/>- ISS 7, ASP.NET, FrameWork 4.5,

<p/>- Active Directory

<p/>Création d'un tutorial sur Microsoft Report :

<a href="{chemin}}/media/doc/tuto.docx" target="_blank">Tutorial Microsoft Report sous Visual Studio 2013</a><p/>

 <a><img src="{chemin}}/media/img/report.png" alt="" width="100%"/></a>
 <a><img src="{chemin}}/media/img/secours.png" alt=""width="100%"/></a>
  <a><img src="{chemin}}/media/img/secours2.png" alt="" width="100%"/></a>
  <p align="center">Et voici le résultat</p>
  <a><img src="{chemin}}/media/img/lettreReport.jpg" alt="" width="100%"/></a>
  
 <p align="center">Code de la page Secours<p/>
 <p align="center"><a href="{chemin}}/media/doc/ReportAccord.txt" target="_blank"> cliquez ici </a></p>
   
 <p align="center">Code de la page Secours<p/>
 <p align="center"><a href="{chemin}}/media/doc/ReportRejet.txt" target="_blank"> cliquez ici </a></p>


<p/>Puis une fois cette tâche finie, on m'a chargé de faire le design , en vu de la rénovation d'une application: ici PAPH.

<p/>Le design devait respecter des règles précises comme, avoir un menu qui se déroule quand on passe la souris dans la zone, une zone de texte centrée, et qui le reste si on change la taille de la fenêtre.
<p/>
<p>Pour mener à bien cette tâche , je me suis aidé des pages maitres. Ainsi après avoir fini de créer le design principal, le "contour" de l'application, il ne me restait plus qu'à mettre du contenu dans chacune des pages.</p>
<a><img src="{chemin}}/media/img/paph.png" alt="" width="500" height="375"/></a>

<a><img src="{chemin}}/media/img/paph2.png" alt="" width="500" height="375"/></a>

<p align="center">Code d'utilisation des pages maîtres.<p/>
<p align="center"><a href="{chemin}}/media/doc/masterPage.txt" target="_blank"> Sans MasterPage</a></p>
 <p align="center"><a href="{chemin}}/media/doc/pageMaitrePaph.txt" target="_blank"> Avec MasterPage </a></p>

														</article>
														<div>
															
													</div>
												<!-- /Content -->
											
											</div>
										</div>
									</div>
								</div>
							<!-- /Main -->
							
						</div>
					</div>
				</div>
			</div>
		<!-- /Main Wrapper -->

	<!-- /Main Wrapper -->
{% endblock %}