{% extends base %}
 
{% block content %}
		
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
			    <br/>			    <br/>
		<!-- Intro Wrapper -->
			<div>
			    <h1 class="text-center">Breve présentation</h1>
			    <h5 class="text-center">BARDON Clément , 22 ans étudiant en licence professionel de Développement d'Application Intranet/Internet à l'IUT de 
Clermont-Ferrand.</h5>
			    <a href="http://twitter.com/pure_break" target="_blank" class="logo"></a>
			</div>
		<!-- /Intro Wrapper -->
		
		<!-- Main Wrapper -->
			<div>
			    <h1 class="text-center">But du site</h1>
			    <h5 class="text-center">Le but de ce site est de faire partager mon parcours d'étudiant et ce que j'ai pu apprendre.</h5>
			</div>
			
				<div>
			    <h1 class="text-center">Parcours</h1>
			    <h5 class="text-center">Terminal STG - Option GSI (Gestion des Systèmes d'Informations) - Lycée Jean Monnet Aurillac - 2011-2012</h5>
			    <h5 class="text-center">BTS SIO - Option SLAM (Solution Logiciel d'Application Metier) - Lycée Jean Monnet Aurillac - 2012-2014</h5>
			    <h5 class="text-center">Licence Professionel -  Développement d'Application Intranet/Internet - IUT Clermont-Ferrand - 2014-2015</h5>
			</div>
				<!-- /Main Wrapper -->
{% endblock %}