
		{% extends base %}
 
{% block content %}
		

		<!-- Main Wrapper -->
			<div class="text-center">
			 <h1>Ce projet a était donné par Mr Durand William</h1>
			 <h5>-Le but de ce projet était de crée une application dans le même principe que Twitter</h5>
			  <h3> <a href="https://github.com/willdurand-edu/php-practicals">Ici le sujet sur le Github de Mr Durand William</a></h3>
			
            </div>
            <div class="text-center">
            <h3> <a href="https://github.com/cbardon/php_twitter">Voici le lien Github du projet</a></h3>
			</div>
<!-- /Main Wrapper -->
{% endblock %}