
		{% extends base %}
 
{% block content %}
		

		<!-- Main Wrapper -->
			<div class="text-center">
				<div class="title">Portail Eclat</div>
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Main -->
								<div id="main">
									<div>
										<div class="row">
											<div class="12u skel-cell-important">
											
												<!-- Content -->
													<div id="content">
														<article class="is is-post">
															<header class="style1">
															
															
															</header>
														<p>La mission était de créer un site web en utilisant du PHP tout en incluant du language SQL.</p>
															<p><a href="{{chemin}}/media/doc/SI6.docx">énoncé du TP4 de SI6</a></p>
															<p>Le but ici était grâce au PHP et au SQL de pouvoir récupérer les informations concernant les spectacles présents au théatre de rue.</p>
															<p>En plus de récupérer les données , l'objectif ici était de créer des fonctions ("include").</p>
														<p align="center">Capture écran de l'application</p>
														
															<p align="center"><img src="{{chemin}}/media/img/portailEclat.png" alt="" width="90%" /></p>
														<p align="center">Voici le code de la page Index</p>
																	<p align="center"><a href="{{chemin}}/media/doc/portailEclatIndex.txt">code de la page</a></p>
															
															
														</p>


														</article>
														<div>
															
													</div>
												<!-- /Content -->
											
											</div>
										</div>
									</div>
								</div>
							<!-- /Main -->
							
						</div>
					</div>
				</div>
			</div>
				<!-- /Main Wrapper -->
{% endblock %}