
		{% extends base %}
 
{% block content %}
		

		<!-- Main Wrapper -->
			<div class="text-center">
			 <h1>Ce projet a était donné par Mr Muetton Julien</h1>
			 <h5>-Pour ce projet nous devions utlisé nodejs et express pour la partie serveur.</h5>
			 <h5>-La communication socket est reliée avec socket.io</h5>
            <h5>-Une utilisation de Nunjucks est également requise</h5>
            <h5>-Nous devions également déployer notre projet sur Heroku</h5>
            </div>
            <div class="text-center">
            <h3> <a href="projetjs2015.herokuapp.com">Lien vers notre Projet</a></h3>
			</div>
		<!-- /Main Wrapper -->
{% endblock %}