
		{% extends base %}
 
{% block content %}
		

		<!-- Main Wrapper -->
			<div>
			    <h1 class="text-center">Lien vers l'application</h1>
			    <h5 class="text-center"><a href="http://clementbardon.com/test/web/index.php/">http://clementbardon.com/test/web/index.php/</a></h5>
			</div>
			
			
<!-- /Main Wrapper -->
{% endblock %}